
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared style */
.secondary-bg{
    background-color:#FFF8F3 ;
}
.text-primary{
    color:#FD6E0A;

}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size:20px;
    border: none;
    color:white;
    padding: 18px 36px;
    border-radius:6px;
}
.section-titles{
    font-size:36px;
    font-weight:bold;
    color: #181818;

}

.section-description{
    font-size:18px;
    color:#767676;
}
.text-centers{
    text-align: center;
}
/* header */
.header{
    background-image:url('../images/developer.png'),url('../images/header_bg.png') ;
    background-repeat:no-repeat;
    background-position:top left,bottom right ;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0px 200px;
}

.nav-titles{
    font-weight: 800;
    font-size:46px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:49px;
}
nav li a{
    text-decoration: none;
    font-size:20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 200px;
}
.banner-content{
    max-width:600px;

}

.banner-greetings{
    font-size: 46px;
    font-weight:600;

}
.banner-titles{
    font-weight:bold;
    font-size:86px;
}


.banner-profile-pic{
    width:600px;
    
}
/* main styles */
main{
    max-width:1080px;
    margin:0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom:130px;
}
/* about styles */

.about{
    border-radius:10px;
    padding:130px 149px;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight:600 ;
}
/* skills section styles */
.skills-container{
    display: flex;
    gap:24px;
}
.skill{
    padding: 30px;
    border-radius:6px;
    box-shadow:0px 6px 49px 0px rgba(0, 0, 0, 0.06) ;
}
